*{
    margin: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font: normal;
    background-color: lightgray;
    text-align: justify;

}

h1{
    border-bottom: solid 1px;
    text-align: center;

}

.divJS{
    margin-top: 10%;
    margin-left: 25%;
    background-color: lightslategray;
    width: 50%;
    max-height: 200px;
    border: solid 1px;
    padding: 15px;

}