*{
    margin: 0%;

}

body{
    text-align: justify !important;

}

header{
    text-align: center;

}

section{
    width: 100%;
    padding-bottom: 30px;

}

article{
    border: solid 1px;
    padding: 10px;

}

aside{
    border: solid 1px;
    padding: 10px;

}

footer{
    text-align: center;
    
}